<h1>Ceci est la page index avec la liste des emails</h1>
<br>
<div class="container">
    <div class = "content">
        <% @emails.each do |e|%>
        <p class="<%=e.id%> title"><%= link_to e.object, show_path(e), remote: true %></p>
        <%end%>
    </div>

    <div class="content">
        <div class="object__box">
            <p>L'objet de l'email, en gros</p>
            <h2 class="object"> </h2>
        </div>

        <div class="body__box">
            <p>Le corps de l'email, en taille normale</p>
            <h4 class="body"> </h4>
        </div>

        <div class="delete__box">
            
        </div>
    </div>
</div>