<h1>Ceci est la page index avec la liste des emails</h1>
<br>
<div class="container">
    <div class = "email__object">
        <% @emails.each do |e|%>
        <p><%= link_to e.object, create_path, id: e.id, remote: true %></p>
<!--TUTO <%= link_to "New Task", new_task_path, id: "new_link", remote: true %>   -->
        <%end%>
    </div>
    <div class="email__body">
        <h4>L'objet de l'email, en gros</h4>
            <div></div>
        <h4>Le corps de l'email, en taille normale</h4>
            <div></div>
        <h4>un lien pour supprimer l'email</h4>
            <div></div>
    </div>
</div>