// Place all the styles related to the email controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.object{
    border: solid 0.5 blue;
    font-size: 32px;
    color: black;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.body{
    border: solid 0.5 orange;
    font-size: 32px;
    color: orangered;
    padding: 5px;
    margin: 5px;
    text-align: center;
}